#main-search-page {
  .main-item {
    .branding {
      .branding-label {
        font-weight: bold;
      }
    }
    .tagline {
      a {
        display: none;
      }
    }
  }
}

p:empty {
  display: none;
}

.search-container {
  .twitter-typeahead {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 30px;
  }
  .icon {
    color: $gray-45;
    background: transparent !important;
  }
} 

.button {
  border-radius: 20px;
  background: $omni-primary;
  &.btn-homepage,
  &.btn-footer {
    background: $omni-primary;
    color: $white !important;
    border-color: $omni-primary;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    box-shadow: none;
    -webkit-box-shadow: none;

    &:hover {
      background: $omni-primary-dark;
      text-decoration: none;
      box-shadow: none;
      -webkit-box-shadow: none;
    }

  }

  &.btn-footer {
    background: transparent;
    color: $omni-primary !important;
    border-color: $omni-primary;

    &:hover {
      background: $omni-primary;
      color: $white !important;
    }
  }
}

.g-body {
  .g-left-panel {
    .section-kicker {
      font-family: $font-headline;
      text-transform: uppercase;
    }

    ul.section,
    ul.sibling {

      li {
        margin: 0 0 5px 0;
        border: 0;
        padding: 0;
        text-indent: 0;

        a,
        strong {
          font-family: $font-sans-medium;
          padding: 0;
        }
      }
    }

    ul.subsection {

      li {
        margin: 0 0 0 13px;

        &:before {
          margin: 0 0 0 -13px;
        }

        a,
        strong {
          font-family: $font-sans;
          color: #999;
        }
      }
    }
  }

  .g-main-content,
  .playlist-navigation {
    border-width: 1px;
    padding-top: 1.7rem;

    > *:first-child {
      margin-top: 0;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: $font-subheading;
      margin: 1.7rem 0 8px 0;
    }

    h2 {
      font-size: 1.55rem;
      font-family: $font-subheading;
    }

    h3 {
      font-size: 19px;
    }

    h4 {
      font-family: $font-serif;
      font-size: 19px;
      color: #666;
      font-style: italic;

      [style*="font-weight:700"] {
        font-weight: normal !important;
      }
    }

    p + h1 {
      padding-top: 30px;
      border-top: 1px solid #ddd;
    }

    p,  ul, li, dt, dd {
      font-family: $font-serif;
      font-size: 19px;
      line-height: 1.55;
    }

    > p:first-of-type {
      margin-top: 0;
    }

    p {
      margin: 0 0 0.8rem 0;

      [style*="font-weight:700"] {
        font-weight: normal;
      }
    }

    pre {
      font-size: 15px;
      background: lighten($omni-eko-beige, 5);

      &:before {
        background: $omni-eko-beige;
        color: darken($omni-eko-beige-dark, 20);
        height: 30px;
        line-height: 30px;
      }

      .line-number::before {
        color: darken($omni-eko-beige-dark, 20);
      }
    }

    .children-container {
      box-shadow: 0 0 5px 0 #dfdfdf;
      -webkit-box-shadow: 0 0 5px 0 #dfdfdf;

      h3 {
        font-family: $font-headline;
      }

      li, a {
        font-family: $font-sans;
      }
    }
  }
}


.masthead .container {
  .branding .branding-label {
    a:visited,
    a:link {
      color: #fff;
    }
  }
  .breadcrumb {
    .breadcrumb-item {
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
}

.search-container .tt-menu {
  width: 90%;
  margin: 0 5%;
}

#user-profile {
  a.btn-user-whole {
    &:hover, &:active, &:target {
      text-decoration: none;
      background: transparent;
    }
  }
  button.btn-user-initial {
    background: rgba(0,0,0,.3);
    color: #fff;
    line-height: 1px;
    border: 0;
  }
  a.btn-user-whole:link, 
  a.btn-user-whole:visited {
    color: rgba(255, 255, 255, .7);
  }
}
