@import "_fonts-base64.scss";

$omni-primary:                 #5c8e81;
$omni-primary-dark:            #496f65;
$omni-eko-beige:               #f7eae4;
$omni-eko-beige-dark:          #e3d5cf;

$font-branding:                "BentonSansForOmni-Bold", arial, helvetica, sans-serif;
$font-headline:                "BentonSansForOmni-Bold", arial, helvetica, sans-serif;
$font-sans:                    "BentonSansForOmni-Regular", arial, helvetica, sans-serif;
$font-sans-medium:             "BentonSansForOmniDisplay-Medium", arial, helvetica, sans-serif;
$font-subheading:              "publicoheadline-medium", serif;
$font-serif:                   "publicotext-roman", serif;
$masthead-background:          $omni-primary;
$main-homepage-background:     $white;
$main-homepage-icon-color:     $black;
$main-homepage-icon-border:    $black;
$main-page-text-color:         $gray-35;
$main-page-btn-color:          $gray-45;
$search-container-background:  $white;
$search-container-hover:       $gray-70;
$btn-homepage-background:      $white;
$btn-homepage-border:          $black;
$btn-default-background:       $white;
$btn-default-background-hover: $accent;
$btn-default-border:           $black;
$btn-default-text-color:       $black;
$btn-default-text-hover:       $black;
$btn-user-initial:             $gray-50;
$elem-link-color:              $gray-50;
$elem-active-link-color:       $gray-50;
$elem-link-accent:             $accent;
$nav-text-color:               $gray-40;

